{% extends 'base.html' %}


{% block content %}
<div class = page_message>
{% if user.is_authenticated %}
{% if message %}
    <h1>{{user.username}} ~~~ {{message}}</h1>
{% endif %}
{% else %}
{% if message %}
    <h1>Anonim user ~~~ {{message}}</h1>
{% endif %}
{% endif %}
{% if user.is_authenticated %}
{% if message_10 %}
    <h1>{{user.username}} ~~~ {{message_10}}</h1>
{% endif %}
{% else %}
{% if message_10 %}
    <h1>Anonim user ~~~ {{message_10}}</h1>
{% endif %}
{% endif %}
</div>
<div class = "ppp2">
    {% for topic in topics %}
    <div class = "rrr2">
        <a href="{% url 'art_list' topic.pk %}"><button><h1>~{{ topic.name }}~</h1></button></a> 
    </div>
    {% endfor %}
</div>
<hr>
<div class = "ppp">
    {% for article in object_list %}
    <div class = "rrr">
        <a href="{% url 'articlepage' pk=article.pk %}"><h1>{{ article.name }}</h1></a>
        <form method="post" action="{% url 'article-delete' article.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
        <br>
        <form method="post" action="{% url 'article_update' article.pk %}">
            {% csrf_token %}
            <input type="submit" value="Update">
        </form>  
    </div>  
    {% endfor %}
</div>
<hr>
<div class = "ppp3">
<form method="" action="{% url 'mainpage' %}">
    <h1>To find article in articles</h1>
    {{ art_list_form.as_p }}
<button type="submit">Find article</button>
</form>
</div>
{% endblock %}
