<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link type="image/x-icon" href="{% static 'blog.ico' %}" rel="shortcut icon">
</head>
<body>
    <header>
        <h1>~Vremby Blog~</h1>
        <nav>
            <a class="active" href="{% url 'mainpage' %}">Main page</a>
            <a href="{% url 'article_create' %}">Create article</a>
            <a href="{% url 'login_page' %}">Login</a>
            <a href="{% url 'register_page' %}">Registration</a>
        </nav>
    </header>
<div class = "content">
    {% block content %}
    {% endblock %}
</div>
    <footer>
        <nav>
            <a class="active" href="{% url 'about' %}">Description</a>
            <a href="{% url 'logout_page' %}">Logout</a>
        </nav>
    </footer>
</body>
</html>
